html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: linear-gradient(270deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.15) 100%),
              linear-gradient(125deg, rgba(29,66,138,0.5) 0%, rgba(200,16,46,0.5) 100%),
              linear-gradient(63deg, rgba(29,66,138,0.5) 0%, rgba(200,16,46,0.5) 100%),
              linear-gradient(270deg, #D2576B 15%, #FFFFFF 50%, #405B8F 85%);
}

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional global reset */
*, *::before, *::after {
  box-sizing: inherit;
}
